
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Perfume Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/templatemo.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="#">nhatnamtran100217@gmail.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:0357373803">0357373803</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color:ghostwhite ">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" asp-controller="Shop" asp-action="Index">
                Perfume Shop
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        @*<i class="fa fa-fw fa-user text-dark mr-3"></i>*@
                        <a asp-controller="Account" asp-action="Login" class="btn btn-link " style="text-decoration: none;">Đăng Nhập</a>
                        @*<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>*@
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="background-color:white">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/images/poison.jpg">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Poison – Christian Dior</b></h1>
                                <p>
                                    Mùi hương ấm nồng của Christian Dior có được từ sự kết hợp của mùi nghệ và hương hoa hồng. Ra đời năm 1985, tới nay, Poison vẫn chưa bao giờ đánh mất vị thế của nó trên thị trường nước hoa. Một trong số đó là Dior Poison Girl, sản phẩm được lấy cảm hứng từ những cô gái trẻ mạnh mẽ và có phần nổi loạn. Mùi hương của Dior Poison Girl được kết hợp bởi hương hoa hồng cùng hương hạnh nhân vô cùng ngọt ngào và sắc sảo nhưng lại khó nắm bắt. Mời gọi, lả lơi nhưng không hề dễ dãi thậm chí là hoàn toàn làm chủ. Đây là một mùi hương rất mới lạ, không cẩn thận bạn có thể sẽ nghiện nó đấy! Doanh thu của loại nước hoa này vượt hơn 300 triệu bảng, tạo nên thương hiệu nước hoa Dior.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/images/shalimar.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Shalimar – Guerlain</b></h1>
                                <p>
                                    Shalimar là chai nước hoa được sáng tạo bởi Jacques Guerlain vào năm 1925 và được xem như là chai nước hoa mang âm hưởng phương Đông đầu tiên, được lấy cảm hứng từ tình yêu bất diệt của hoàng đế Shahjahan và vợ của ông ta Mumtaz Mahal. Mùi hương là sự kết hợp của các hương cam chanh như chanh da vàng và cam bergamot, hoa nhài, hoa hồng tháng năm, một dược, đậu tonka, vani, hoa diên vĩ, nhựa thơm Balsam và hổ phách xám.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/images/chanel-no5-chanel-30378.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Chanel N°5 – Chanel</b></h1>
                                <p>
                                    Năm 1921, Coco Chanel cho ra đời một mùi hương mang tính cách mạng trong lịch sử thời trang. Suốt hơn 94 năm ngự trị, Chanel N°5 luôn nằm trong danh sách mẫu nước hoa đắt đỏ bán chạy nhất, là mùi hương biểu tượng của tầng lớp thượng lưu, nhất là phái đẹp. Chanel N°5 được chiết xuất từ hỗn hợp của ylang - ylang, hoa hồng, hoa nhài, vani... tạo nên mùi hương hoa dìu dịu, kế tiếp mùi hoa hồng rực rỡ. Cuối cùng hương thơm của Gỗ đàn hương, xạ hương và 1 chút vani sẽ đọng lại thành hương cuối thật đậm đà và quyến rũ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <section class="container py-5">
        <div class="row">
            @*<div class="col-lg-3">
                <h1 class="h2 pb-4">Danh Mục</h1>
                @foreach (var cat in Model)
                {
                    <h3 class="h3 pb-4"><a style="text-decoration: none;color:black" asp-controller="Shop" asp-action="ViewProduct" asp-route-categoryId="@cat.CategoryId">@cat.CategoryName</a></h3>
                }
            </div>*@
            <div class="col-lg-12">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Perfume Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:0357373803">0357373803</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="#">nhatnamtran100217@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Chi Nhánh Tại Huế</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Địa chỉ: Số 30 đường Bà Triệu, Thành Phố Huế, Tỉnh Thừa Thiên Huế</a></li>
                        <li><a class="text-decoration-none" href="#">Hotline: 095145524</a></li>
                        <li><a class="text-decoration-none" href="#">Email: Pefumeshop@gmail.com</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Chi Nhánh Tại Đà Nẵng </h2>
                    <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Địa chỉ: Số 371, đường Hoàng Hoa Thám, Phường Liễu Giai, Quận Ba Đình, Hà Nội</a></li>
                    <li><a class="text-decoration-none" href="#">Hotline: 0246 29 29 815</a></li>
                    <li><a class="text-decoration-none" href="#">Email: etonner@gmail.com</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/templatemo.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>